.containerScore {
  position: relative;
  height: 263px;
  width: 258px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.containerScore h2 {
  position: absolute;
  top: 25px;
  left: 30px;
  font-weight: 500;
  font-size: 15px;
}

.innerCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 57%;
  height: 57%;
  border-radius: 50%;
  background-color: white;
}

.pObjectif {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
  text-align: center;
  line-height: 26px;
}

.pObjectif span {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-size: 26px;
}
