header {
  align-items: center;
  background: #020203;
  display: flex;
  height: 91px;
  justify-content: space-between;
  /*width: 100%;*/
}

img {
  margin-left: 32px;
  margin-top: 9px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin-left: 128px;
  margin-right: 64px;
  width: 100%;
}

.linkNavBar {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5rem;
  list-style: none;
  text-decoration: none;
}

.linkNavBar :hover {
  color: #e60000;
}
