.containerAverageSession {
  position: relative;
  width: 258px;
  height: 263px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ff0000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

@media (max-width: 1025px) {
  .containerAverageSession {
    width: 213px;
    height: 168px;
  }
}

.containerAverageSession h2 {
  position: absolute;
  font-weight: 500;
  font-size: 15px;
  padding: 29px 34px 0 34px;
  color: rgba(255, 255, 255, 0.5);
}

/*tooltip*/
.averageSessionTooltip {
  font-weight: 500;
  font-size: 10px;
  color: black;
  background-color: white;
  padding: 4px 7px;
}
