.containerCharts {
  justify-self: center;
  margin-top: 60px;
}

.containerChartsActivityBottom {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1025px) {
  .containerCharts {
    margin-top: 25px;
    width: 90%;
  }
}

.welcome {
  margin-bottom: 65px;
}

.welcome h1 {
  font-weight: 500;
  font-size: 48px;
}
.welcome span {
  color: #ff0000;
}

.welcome p {
  font-size: 18px;
}

@media (max-width: 1025px) {
  .welcome {
    margin-bottom: 30px;
  }
}

.containerChartsActivity {
  display: flex;
}

.containerChartsActivityDiv {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 835px;
}

.containerChartsActivity aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1025px) {
  .containerChartsActivity {
    flex-direction: column;
  }

  .containerChartsActivity div {
    margin-right: 0;
  }
  .containerChartsActivity aside {
    flex-direction: row;
    flex-wrap: wrap;
    width: 835px;
  }
}
