.containerActivity {
  margin-bottom: 25px;
  height: 320px;
  border-radius: 5px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  padding: 25px;
}

@media (max-width: 1025px) {
}
.containerActivity {
  height: 220px;
}

.headerActivity {
  display: flex;
  justify-content: space-between;
}

.headerActivity h2 {
  font-weight: 500;
  font-size: 15px;
  color: #20253a;
}

.legendActivity {
  display: flex;
}

.units {
  display: flex;
}

.units p {
  font-weight: 500;
  font-size: 14px;
  color: #74798c;
  margin-left: 10px;
}

.dot1 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #282d30;
  align-self: center;
  margin-left: 30px;
}
.dot2 {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #e60000;
  align-self: center;
  margin-left: 30px;
}

/*TOOLTIP*/

.customTooltip {
  height: 72px;
  width: 49px;
  background-color: #e60000;
  font-weight: 500;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0;
  align-items: center;
}
